{{#paper-form onSubmit=(action "login") as |form|}}
  <div class="layout-column" data-test-login>
    {{form.input
      label="Username"
      value=this.username
      onChange=(action (mut this.username))
      required=true
    }}
    {{form.input
      label="Password"
      value=this.password
      onChange=(action (mut this.password))
      required=true
    }}
    {{#form.submit-button
      raised=true
      primary=true
      disabled=form.isInvalid
    }}
      Submit
    {{/form.submit-button}}
  </div>
{{/paper-form}}